form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #1C1C1C;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
fieldset {
	border: none;
}

form label, form legend {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #00BFFF;
}

form select {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #191919;
  color: #E6E6E6;
  font-size: 16px;
}

form select:focus {
  outline: none;
  border-color: #00BFFF;
  box-shadow: 0 0 5px #00BFFF;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to bottom, #00BFFF, #1E90FF);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background: linear-gradient(to bottom, #1E90FF, #00BFFF);
}

form button:active {
  background: #007ACC;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}